<% provide(:title, 'About project') %>
<h1>About project and me</h1>
<p>
  Prealpha version of Project's accounting sustem. <br>Maded by Alexey Pokaluk. <a href="https://github.com/nordknight/project-accounting">App on GitHub</a>. 
</p>