<% provide(:title, 'About') %>
<h1>About project and me</h1>
<p>
  Prealpha version of Project's accounting system. 
  <hr>
  Maded by Alexey Pokaluk <br><a href="mailto:nordknight@gmail.com">Send an Email </a><br>
  <%= link_to image_tag("vk.png", alt: "VKontakte"), 'https://vk.com/nordknight' %>
  <%= link_to image_tag("youtube.png", alt: "YouTube"), 'http://www.youtube.com/user/nordknight1' %>
  <%= link_to image_tag("google.png", alt: "Google+"), 'https://plus.google.com/110786982732466052193' %>
  <%= link_to image_tag("git.png", alt: "Google+"), 'https://github.com/nordknight' %>
  

   
</p>