<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
  <h2>Ruby/Rails/HTML</h2>
	<a href="http://guides.rubyonrails.org/">http://guides.rubyonrails.org/</a> 
	<br>
	<a href="https://www.codeschool.com/courses/try-ruby">https://www.codeschool.com/courses/try-ruby</a>
	<br>
	<a href="https://www.codeschool.com/courses/rails-for-zombies-redux">https://www.codeschool.com/courses/rails-for-zombies-redux</a> 
	<br>
	<a href="https://www.codeschool.com/courses/javascript-road-trip-part-1">https://www.codeschool.com/courses/javascript-road-trip-part-1</a> 
	<br>
	<a href="https://www.codeschool.com/courses/front-end-foundations лвл1">https://www.codeschool.com/courses/front-end-foundations лвл1</a> 
	<br>
	<a href="https://www.codeschool.com/courses/css-cross-country">https://www.codeschool.com/courses/css-cross-country</a> 
  <h2>Linux</h2>
	<a href="http://myubuntu.ru/faq/17-komand-terminala-o-kotorykh-dolzhen-znat-kazhdyj-polzovatel-ubuntu">http://myubuntu.ru/faq/17-komand-terminala-o-kotorykh-dolzhen-znat-kazhdyj-polzovatel-ubuntu</a> 
	<br>
	<a href="http://myubuntu.ru/faq/chto-oznachayut-vse-papki-v-strukture-direktorij-linux">http://myubuntu.ru/faq/chto-oznachayut-vse-papki-v-strukture-direktorij-linux</a> 

  <h2>Git</h2>
	<a href="https://www.codeschool.com/courses/try-git">https://www.codeschool.com/courses/try-git</a> 
  <h2>SQL</h2>
	<a href="https://www.codeschool.com/courses/try-sql">https://www.codeschool.com/courses/try-sql</a>
	<br> 
	<a href="https://www.codeschool.com/courses/the-sequel-to-sql">https://www.codeschool.com/courses/the-sequel-to-sql</a> 

</p>