<% provide(:title, 'Home') %>

<h1>Welcome</h1>
<p>
  This is the home page for the RoR application maded by Nord according tutorial: <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
</p>
    
  



