<% provide(:title, 'Home') %>
<h1>Greetings! =)</h1>
<p>
  This is the home page for the RoR application maded by Nord according tutorial on <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
  <%= link_to 'Projects', controller: 'projects' %>
</p>